#################################################
# Visual Studio
#################################################

.vs/
bin/
obj/
Debug/
Release/
x64/
x86/
AnyCPU/

#################################################
# User-specific files
#################################################

*.user
*.rsuser
*.suo
*.userprefs

#################################################
# Build / Cache
#################################################

*.cache
*.opendb
*.VC.db
*.pdb
*.ilk

#################################################
# NuGet
#################################################

packages/

#################################################
# Test Results
#################################################

TestResults/

#################################################
# Logs
#################################################

*.log

#################################################
# Windows
#################################################

Thumbs.db
Desktop.ini

#################################################
# Editors
#################################################

.idea/
.vscode/

#################################################
# SQL LocalDB
#################################################

*.mdf
*.ldf

#################################################
# Publish Output
#################################################

publish/
Publish/
app.publish/

#################################################
# ClickOnce
#################################################

*.publish.xml

#################################################
# Temporary files
#################################################

*.tmp
*.bak
*.old
*.orig
*.swp

#################################################
# SQL Server Backup Files
#################################################

*.bak

#################################################
# Zip files
#################################################

*.zip
*.rar
*.7z